nb-cli
nonebot-plugin-test
nonebot-adapter-cqhttp
nonebot-plugin-apscheduler
xmltodict
pypinyin
Pillow
# ---------------------------------
# add by Judy on 13rd July 2021
tushare
pandas
# ----------------------------------
